/* estilos */
.encabezado{
    /* margin-left: 500px; */
    text-align: center;
    width: 600px;
    margin-left: 450px;
    height: 70px;
    box-shadow: 3px 5px 2px green;
    color: bisque;
    font-size: 3.5rem;
    border: 5px dashed black;
}

/* color de fondo */
.back-intro05{
    background: linear-gradient(to top left, orange, yellow, black);
    height: 100%;
}